@model DiskMusic.Models.Album

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BandaNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BandaNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumImagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumImagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anolancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anolancamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EhFavorito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EhFavorito)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AlbumId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
