@model IEnumerable<DiskMusic.Models.Album>

@{
    ViewData["Title"] = "Índice";
}

<h1>Índice</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlbumNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BandaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumImagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anolancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EhFavorito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BandaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumImagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anolancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EhFavorito)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlbumId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AlbumId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.AlbumId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
