@model IEnumerable<DiskMusic.Models.Musica>

@{
    ViewData["Title"] = "Índice";
}

<h1>Índice</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MusicaNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Album.AlbumNome
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusicaNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MusicaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.MusicaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.MusicaId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
